html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

html, body {
	height: auto !important;
}
#sidebar {
	display: none;
	width: 0px !important;
}

#header h1 {
    display: block;
    height: 40px !important;
    margin-left: 0px !important;
}
#header-logo {
	display: none !important;
	width: 0px !important;
}
#header-user {
	display: none;
	width: 0px !important;
}

#popup_header-menu {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 55px;
    height: 40px;
    line-height: 40px;
    padding-top: 15px;
}

div#main-menu {

}
div#main-menu h1 {
	display: none;
	width: 0px !important;
}
div#main-menu ul {
	top: 60px;
	left: 0px;
	right: 0px;
	
	height: 30px;
	padding-left: 10px;
	
    white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}
div#main-menu ul li {
    display : inline-block;
}

div#main {
	position: inherit !important;
	width: auto !important;
	height: auto !important;
	overflow: auto !important;
	padding: 10px !important;
}

div#main h1, div#main h1 * {
	font-size: 20px;
}